/* Estilos generales */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f4f9;
}

.signup-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}



.signup-terms {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #666;
  line-height: 1.2;
}

.signup-terms label {
  flex: 1;
}

#terms{
  width:20px;
}

.signup-btns {
  display: flex;
  justify-content: space-between;
}

.register-button,
.back-button {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.register-button {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .signup-form {
    padding: 20px;
  }

  .signup-btns {
    flex-direction: column;
  }

  .register-button,
  .back-button {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .signup-inputs {
    gap: 10px;
  }
}