 
  .navbar-section{
    position: relative;
    background-color: rgba(0,0,0,0.8);
    /* font-family: "SF Pro Text", "Miriad Set Pro", "Helvetica Neue"; */
    /* font-size: 16px; */
    font-weight: 400;
      
    .nav-link{
      color: #F5F5F7;
      margin-right: 15px;
      font-size: 1.1em;
    }
    .nav-link:hover, .nav-link:focus, .nav-dropdown:focus , .nav-dropdown-item:hover, .nav-dropdown-item:focus{
        color: var(--second-color) !important;
    }

    .nav-dropdown-item:hover{
        background-color: rgba(0,0,0,0.3);
    }

    .navbar-toggler{
        cursor: pointer;
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
  
    .navbar-toggler-icon{
        filter: brightness(0) invert(1) !important;
    }
  }