/* Estilos de los filtros */
.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: self-end;
  gap: 20px;
  margin-bottom: 20px;
}

.filters div:hover {
  background-color: #f0f8ff;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: normal;
    gap: 10px;
  }
}
